@use '../../../../scss/' as *;

.berita {
	.carousel {
		@include flex(center, center);

		&__slider {
			height: 27rem;
			width: 1024px;
		}

		&__back-button {
			margin-right: 1rem;
		}

		&__next-button {
			margin-left: 1rem;
		}

		button {
			border: none;
			background: transparent;
			font-size: 2rem;
			color: $secondary-color;
		}
	}
}
