@use '../../scss/' as *;

.hero {
	position: relative;
	color: $white;

	&__bg {
		height: 100vh;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(0.5);
		}
	}

	&__content {
		position: absolute;
		top: 30%;
		margin-left: 120px;
		width: 100vw;
		height: 100vh;

		.title {
			font-weight: 700;
			font-size: 3rem;
			max-width: 700px;
			margin-bottom: 24px;
		}

		.desc {
			font-weight: 400;
			font-size: 1.25rem;
			max-width: 550px;
			margin-bottom: 24px;
		}

		.btn {
			font-size: 1rem;
		}
	}
}
