@use '../../../scss/' as *;

.contact {
	@include flex(flex-start, space-around);
	position: relative;
	background-color: $white;
	height: 22.5rem;
	width: 100%;
	overflow: hidden;

	&__wrapper {
		margin-top: 50px;

		.title {
			margin-bottom: 1rem;
		}

		.link {
			* {
				vertical-align: middle;
				margin-bottom: 0.5rem;

				* {
					display: inline-block;
					margin-right: 1rem;
				}

				svg {
					color: $secondary-color;
					font-size: 1.75rem;
				}

				a {
					font-size: 1.25rem;
					color: $main-color;
				}

				h2 {
					font-weight: 400;
					font-size: 1.25rem;
					color: $main-color;
				}
			}
		}
	}

	.logo {
		width: 500px;
		position: relative;
		top: 5rem;
		left: 6rem;
	}
}
