@use '../../scss/' as *;

a {
	text-decoration: none;
}

.header {
	height: $header-height;
	background-color: $white;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.logo img {
		width: 150px;
	}

	&__wrap {
		@include flex(center, space-between);
		height: 100%;
		padding: 0 3rem;
	}

	&__nav {
		@include flex(center, unset);

		.active {
			color: $main-color;
			border-bottom: 2px solid $main-color;
			padding-bottom: 3px;
		}

		& > * ~ * {
			margin-left: 2rem;
		}

		li {
			list-style: none;

			a {
				color: #333;
				font-weight: 700;
			}
		}

		li:last-child {
			@include flex(center, center);
			background-color: $main-color;
			height: 40px;
			width: 90px;
			border-radius: 100px;

			a {
				color: $white;
			}
		}

		@include tablet {
			display: none;
		}
	}
}
