@use '../../../scss/' as *;

.kegiatan {
	height: 750px;
	position: relative;

	&__wrapper {
		@include flex(default, default);
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}
}

/* Inline #23 | http://localhost:3000/ */
