@use './scss/' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 100%;
	background-color: $white;

	@include tablet {
		font-size: 80%;
	}

	@include mobile {
		font-size: 60%;
	}
}

body {
	font-family: $font-family;
}

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
